@model HomeVM

@{
    ViewData["Title"] = "Home Page";
}


<h1> Index </h1>

<partial name="_Carousel"/>


<p>Os preferridos da semanaa</p>

<div class="row">
    @foreach(var lanche in Model.lanchePreferido)
    {
        <partial name="_LanchesResumo" for="@lanche"/>
    }
</div>