@*@model IEnumerable<LancheMVC_Aplication.DTOs.LancheDTO>*@
@model LancheListViewModel
@*@model LancheMVC_Aplication.DTOs.AllDTo*@

<div>
    <h2>Todos os Lanches</h2>
</div>
<h1>@ViewData["data"]</h1>
<hr />
 <h1>Numero total de lanches é @ViewBag.totalLanches</h1>
<hr />


<div class="container">
    @Model.CategoriaAtual
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
@foreach(var lanche in Model.lanches)
{

            <partial name="_LanchesResumo" for="@lanche" />
}

</div>

</div>