@model LoginVM

<!-- Custom Theme Style -->
<link href="~/build/css/custom.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="~/LancheMVC.styles.css" asp-append-version="true" />
<script src="https://kit.fontawesome.com/ddb983a3c3.js" crossorigin="anonymous"></script>

<!-- Font Awesome -->
<link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- NProgress -->
<link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
<!-- Animate.css -->
<link href="~/vendors/animate.css/animate.min.css" rel="stylesheet">
@{
    Layout = null;
}

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form asp-controller="Account" asp-action="Login" method="post" role="form">
                        <input type="hidden" asp-for="ReturnURL" />
                        <h1>Login Form</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" asp-for="UserName" required="" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div>
                            <input type="password" asp-for="Password" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                Login
                            </button>
                            <a class="btn btn-default submit"  >Log in</a>
                            <a class="reset_pass" href="#">Lost your password?</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                New to site?
                                <a href="#signup" class="to_register"> Create Account </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-paw"></i> Mvc lamnches</h1>
                                <p>©2022 All Rights Reserved. Felipe Mvc template. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>

            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    <form asp-controller="Account" asp-action="Register" method="post">
                        <h1>Create Account</h1>
                        <div>
                            <input type="text" asp-for="UserName" class="form-control" placeholder="Username" required="" />
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                     @*   <div>
                            <input type="email" class="form-control" placeholder="Email" required="" />
                        </div>
                        <div>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password" required="" />
                        </div>*@
                        <div>
                            <a class="btn btn-success submit" href="index.html">Submit</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                Already a member ?
                                <a href="#signin" class="to_register"> Log in </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-paw"></i> MVC lanches</h1>
                                <p>©2026 All Rights Reserved. Gentelella Alela! is a Bootstrap 4 template. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
</html>